#root {
  display: flex;
  justify-content: center;
}

.field {
  margin-top: 20px;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid black;
  width: 20px;
  height: 20px;
}

.bullet {
  background-color: red;
}

.player {
  background-color: purple;
}